*{
 width: auto;
box-sizing: border-box;
margin:0 0 ; 
padding: 0;
}

.banner {

width: 100%;
height: 261px;
display: flex;


}

.menuprincipal {


background-color: #B33DEA;

width: auto;
height: 64px;
display: flex;
justify-content: space-around;
}